<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/main.js"></script>
{% if useAutoStoreData %}
  <script src="/js/auto-store-data.js"></script>
{% endif %}

<!-- Add any custom scripts -->

    <script>
        // Function to format and display the current date
        function displayDate() {
            const dates = document.querySelectorAll('.date');
            const now = new Date();
            const options = { day: 'numeric', month: 'long', year: 'numeric' };
            const formattedDate = now.toLocaleDateString('en-GB', options);

            dates.forEach(dateElement => {
                dateElement.textContent = formattedDate;
            });
        }

        // Run the function on page load
        displayDate();
    </script>
