{% extends 'layout.html' %} {% block pageTitle %}Raised Exceptions summary - Cohort
Manager{% endblock %} {% block beforeContent %}



{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
    <h1 class="nhsuk-label-wrapper">
      <div class="nhsuk-label nhsuk-label--xl" aria-label="Breast-screening-exceptions">
      Breast screening
      </div>
    </h1>
    <div class="nhsuk-caption-xl" aria-label="Breast-screening-exceptions-home" >
    exceptions
    </div>
  </div>
</div>


<ul class="nhsuk-grid-row nhsuk-card-group">

  <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">20<span class="nhsuk-u-visually-hidden">Not raised</span></h1>
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/ServiceMgmt/exceptions-nbo">Not raised</a>
        </h2>
        <p class="nhsuk-card__description">Exceptions to be raised with teams</p>

      </div>
    </div>
  </li>

  <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">15<span class="nhsuk-u-visually-hidden">Raised</span></h1>
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/ServiceMgmt/raised-summary-option2">Raised</a>
        </h2>
        <p class="nhsuk-card__description">Access and amend previously raised exceptions</p>

      </div>
    </div>
  </li>

  <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
  <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">5<span class="nhsuk-u-visually-hidden">Completed</span></h1>
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/ServiceMgmt/closed-exceptions">Closed</a>
        </h2>
        <p class="nhsuk-card__description">Exceptions that have been closed</p>

      </div>
    </div>
  </li>

</ul>

<!--- Reports--->

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
    <div class="nhsuk-caption-xl" aria-label="Breast-screening-exceptions-home" >
    Reports
    </div>
  </div>
</div>


<ul class="nhsuk-grid-row nhsuk-card-group">

  <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">12<span class="nhsuk-u-visually-hidden">Reports</span></h1>
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/BSS-2-line/report-list">Reports</a>
        </h2>
        <p class="nhsuk-card__description">View reports</p>

      </div>
    </div>
  </li>

<!--- end reports--->

<div class="floating-div">
<a href="/BSS-2-line/teams">Go to Option 1</a>
</div>
<div class="float-div">
<a href="/BSS-2-line/BS">Go to Option 2</a>
</div>


<style>
  .floating-div {
    position: fixed;
    top: 200px;
    right: 20px;
    width: 120px;
    padding: 15px;
    background-color: #ffb81C;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  .float-div {
    position: fixed;
    top: 300px;
    right: 20px;
    width: 120px;
    padding: 15px;
    background-color: #ffb81C;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
  }
</style>


{% endblock %}
