{% extends 'layout.html' %} {% block pageTitle %}Log in with your Care Identity
account - Screening{% endblock %} {% block beforeContent %} {% endblock %} {%
block outerContent %} {% endblock %} {% block header %} {{ header({ "service": {
"name": "Screening", "href": "/" }, "showNav": "false", "showSearch": "false" })
}} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<form id="radioForm" onsubmit="handleSubmit(event)">
<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Which team do you work with?
      </h1>
    </legend>

    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="radio-1" name="destination" type="radio" value="/v6A">
        <label class="nhsuk-label nhsuk-radios__label" for="radio-1">
          National service desk
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="radio-2" name="destination" type="radio" value="/BSS-2-line/report-list">
        <label class="nhsuk-label nhsuk-radios__label" for="radio-2">
        Participant index (PI) bureau
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="radio-3" name="destination" type="radio" value="/ServiceMgmt">
        <label class="nhsuk-label nhsuk-radios__label" for="radio-3">
        Service management
        </label>
      </div>

    </div>
  </fieldset>
</div>
    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
    Continue
    </button>
</form>


<div class="floating-div">
  <a href="/BSS-2-line/home">Go to Option 2</a>
</div>

  <script>
    function handleSubmit(event) {
      event.preventDefault();
      const radios = document.getElementsByName('destination');
      let selected = null;

      for (const radio of radios) {
        if (radio.checked) {
          selected = radio.value;
          break;
        }
      }

      if (selected) {
    window.location.href = selected;
  } else {
    // Redirect to an error page if no selection
    window.location.href = 'BSS-2-line/error-BSS';
  }
}
  </script>

  <style>
    .floating-div {
      position: fixed;
      top: 200px;
      right: 20px;
      width: 120px;
      padding: 15px;
      background-color: #ffb81C;
      color: #000;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      z-index: 1000;
    }
  </style>
{% endblock %}
