// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Components that are not in the NHS.UK frontend library
//@import "components/account-header";
//@import "components/list-border";
//@import "components/pagination";
//@import "components/related-nav";

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.app-mini-profile-header {
  align-items: start;
  display: flex;
  flex-direction: row;
  @include nhsuk-font(19);
  color: $nhsuk-secondary-text-color;
}

.app-mini-profile-header dl {
  margin: 0;
  margin-right: 32px;
}

.app-mini-profile-header dl:last-child {
  margin-right: 0;
}

.app-mini-profile-header dd {
  margin-bottom: 0;
  margin-left: 0;
}

.app-mini-profile-header dt,
.app-mini-profile-header dd {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.app-mini-profile-header dt {
  font-weight: bold;
}

@include mq($until: tablet) {
  .app-mini-profile-header {
    display: block;
  }

  .app-mini-profile-header dl {
    margin-right: 0;
  }

  .app-mini-profile-header dl:last-child {
    margin-bottom: 0;
  }

  .app-mini-profile-header dl:last-child dd {
    margin-bottom: 0;
  }
}

// No wrap

.app-u-no-wrap {
  white-space: nowrap;
}

// NHS login button

$app-cis2-button-color: $color_nhsuk-blue;
$app-cis2-button-hover-color: mix($app-cis2-button-color, #003087, 50%);
$app-cis2-button-active-color: #003087;
$app-cis2-button-shadow-color: #003087;
$button-shadow-size: 4px;

.app-button--cis2 {
  align-items: center;
  background-color: $app-cis2-button-color;
  box-shadow: 0 $button-shadow-size 0 $app-cis2-button-shadow-color;
  display: inline-flex;
  gap: nhsuk-spacing(3);

  & span {
    @include mq($until: desktop) {
      @include visually-hidden;
    }
  }

  &:hover {
    background-color: $app-cis2-button-hover-color;
  }

  &:focus {
    background: $nhsuk-focus-color;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-focus-text-color;
    color: $nhsuk-focus-text-color;
    outline: $nhsuk-focus-width solid transparent;
  }

  &:active {
    background: $app-cis2-button-active-color;
    box-shadow: none;
    color: $nhsuk-button-text-color;
    top: $button-shadow-size;
  }
}

// Proposed secondary button style
// See https://github.com/nhsuk/nhsapp-frontend/issues/12
// See https://github.com/nhsuk/nhs-app-design-styles-components-patterns
@mixin app-button-secondary($button-color) {
  background-color: transparent;
  border-bottom: 0;
  border-color: $button-color;
  box-shadow: 0 4px 0 $button-color;
  color: $button-color;
  // Adjust padding to account for removal of 2px bottom border
  padding-bottom: 13px;
  padding-top: 13px;

  &:link,
  &:visited {
    color: $button-color;
  }

  &:hover {
    background-color: rgba($button-color, 10%);
    color: $button-color;
  }

  &:focus {
    background-color: $nhsuk-focus-color;
    border-color: $nhsuk-focus-color;
    color: $nhsuk-focus-text-color;
  }

  &:focus:visited:active {
    // Override .nhsuk-button turning colour white
    color: $button-color;
  }

  &:active {
    background-color: rgba($button-color, 15%);
    border-bottom: $nhsuk-border-width-form-element solid; // Reintroduce 2px bottom border
    border-color: $button-color;
    color: $button-color;
    // Revert padding to account for reintroduction of 2px bottom border
    padding-bottom: 12px;
    padding-top: 12px;
  }

  &::before {
    bottom: #{$button-shadow-size * -1};
    top: #{$nhsuk-border-width-form-element * -1};
  }

  &:active::before {
    bottom: #{($nhsuk-border-width-form-element + $button-shadow-size) * -1};
    top: #{($nhsuk-border-width-form-element + $button-shadow-size) * -1};
  }
}

.app-button--secondary {
  @include app-button-secondary($nhsuk-link-color);
}

.app-button--secondary-warning {
  @include app-button-secondary($nhsuk-warning-button-color);
}

.app-button--small {
  @include nhsuk-typography-responsive(16);
  padding: nhsuk-spacing(1) 12px;

  &.app-button--secondary,
  &.app-button--secondary-warning {
    // Adjust padding to account for removal of 2px bottom border
    padding-bottom: #{nhsuk-spacing(1) + 1px};
    padding-top: #{nhsuk-spacing(1) + 1px};

    &:active {
      margin-bottom: -1px;
      // Revert padding to account for reintroduction of 2px bottom border
      padding-bottom: nhsuk-spacing(1);
      padding-top: nhsuk-spacing(1);
    }
  }
}

.nhsuk-textarea,
.nhsuk-input,
.nhsuk-select {
  border: 1px solid #4c6272 !important;
  border-radius: none !important;
}

/* date of Birth */

.dob-container {
  position: relative;
  display: block;
}
.dob-container input {
  padding-right: 0px;
}
.dob-container .calendar-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.required::before {
  content: " *";
  color: red;
}

.question::after {
  content: " ?";
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

/* attach file */

.attach-file {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.attach-file input[type="file"] {
  display: none;
}

.attach-file-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.nhsuk-header__navigation-list {
  justify-content: flex-start;
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit {
background-color: #007f3b;
border: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 4px;
border-top-left-radius: 0;
border-top-right-radius: 4px;
float: right;
font-size: inherit;
height: 52px;
line-height: inherit;
margin: 0;
outline: none;
padding: 8px 8px 0;
width: 52px;
}

.nhsuk-header__search-form--search-results .autocomplete__input, .nhsuk-header__search-form--search-results .nhsuk-search__input {
-ms-flex-positive: 2;
-webkit-appearance: listbox;
background-color: #fff!important;
border: 1px solid #aeb7bd;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 0;
border-right: 0;
border-top-left-radius: 4px;
border-top-right-radius: 0;
flex-grow: 2;
font-size: inherit;
height: 52px;
margin: 0;
outline: none;
padding: 0 16px;
width: 100%;
}
