{% extends 'layout.html' %} {% block pageTitle %}Exceptions summary - Cohort
Manager{% endblock %} {% block beforeContent %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/v3">Overview</a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="/v3">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Overview
      </a>
    </p>
  </div>
</nav>

{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Exceptions summary</h1>

    <table role="table" class="nhsuk-table-responsive">
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" scope="col">Exception ID</th>
          <th role="columnheader" scope="col">NHS number</th>
          <th role="columnheader" scope="col">Date created</th>
          <th role="columnheader" scope="col">Short description</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v3/participant-information">1767</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >723 333 6897
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >10 August 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Invalid primary care provider GP practice code
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v3/participant-information">1768</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >623 444 8972
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >26 September 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >CurrentPostingAndPrimaryProvider
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v3/participant-information">1769</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >543 555 9087
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >21 September 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Missing or invalid Posting
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v3/participant-information">1771</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >643 634 1243
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >5 September 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Postcode
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v3/participant-information">1772</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >653 542 4353
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >4 September 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Unable to add to cohort distribution. As participant with
            ParticipantId: 33. Has an Exception against it
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v3/participant-information">1773</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >542 565 5493
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >1 September 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Invalid primary care provider GP practice code
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v3/participant-information">1774</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >542 345 5423
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >18 August 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Truncate
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v3/participant-information">1775</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >435 543 4324
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >15 August 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >TransformDate
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
