{% extends 'layout.html' %} {% block pageTitle %}Participant information -
Cohort Manager{% endblock %} {% block beforeContent %}


<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v7">Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v7/exceptions-summary">Raised breast screening exceptions</a></li>
  <!--- li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level three</a></li--->
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/v7/exceptions-summary">
      <span class="nhsuk-u-visually-hidden">Back to</span>
      Raised breast screening exceptions
    </a>
  </p>
</nav>

{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
    <h1 class="nhsuk-label-wrapper">
      <div class="nhsuk-label nhsuk-label--xl" aria-label="exception-information">
      Exception information
      </div>
    </h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Portal Instructions</h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Raised to </dt>
            <dd class="nhsuk-summary-list__value"> National Back Office (NBO)</dd>
            <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Raised on </dt>
            <dd class="nhsuk-summary-list__value"> <strong class="nhsuk-tag">Raised</strong> on <span id="today-date"></span>
            </dd>
            <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Portal form used</dt>
            <dd class="nhsuk-summary-list__value">
            Request to amend incorrect patient PDS record data
            </dd>
            <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">ServiceNow case ID</dt>
            <dd class="nhsuk-summary-list__value" aria-label="ServiceNow-case-ID-CS1234567">CS1234567</dd>
            <dd class="nhsuk-summary-list__actions">
              <!---a href="/v7/participant-information-not-raised-1001-change#case"">
                Change<span class="nhsuk-u-visually-hidden">ServiceNow case ID</span>
              </a--->
            </dd>
          </div>

        </dl>
      </div>
    </div>




    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">

        <h2 class="nhsuk-card__heading">Participant details</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">NHS number</dt>
          <dd class="nhsuk-summary-list__value">723 333 6891</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Surname</dt>
          <dd class="nhsuk-summary-list__value">Lewis</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Forename</dt>
          <dd class="nhsuk-summary-list__value">Sandra</dd>
        </div>


        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Date of birth</dt>
          <dd class="nhsuk-summary-list__value">18/11/1993</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Gender</dt>
          <dd class="nhsuk-summary-list__value">Female</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Current address</dt>
          <dd class="nhsuk-summary-list__value">
            73 Roman Rd<br />Leeds<br />
            LS2 5ZN
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Registered practice code</dt>
          <dd class="nhsuk-summary-list__value">B86110</dd>
        </div>

      </dl>

</div>
</div>


    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Exception details</h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date exception created</dt>
            <dd class="nhsuk-summary-list__value date"></dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">More detail</dt>
            <dd class="nhsuk-summary-list__value">

                  <p>The following fields have missing or conflicting information: GP practice code, reason for removal</p>
                  <p>Either:</p>
                  <ul>
                    <li>enter a GP practice code, or </li>
                    <li>enter a reason for removal</li>
                  </ul>
                  <p>Information must only be entered for one of these fields.
                  Both fields cannot be empty</p>
                  <p>Cohort Manager rule (to be included for reporting): CMR13</p>

            </dd>
          </div>

        </dl>
      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Exception status</h2>

        <div class="nhsuk-form-group">

          <form action="/v7/participant-information-raised-ref" method="post">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                <p class="nhsuk-u-font-weight-normal">
                Entering a ServiceNow case ID will change the status of the exception to “Raised”. <br/>You’ll be able to access it on the “Raised breast screening exceptions” page.
                </p>
                <p class="nhsuk-u-font-weight-normal">
                If you need to change the exception status back to “Not raised”, delete any case ID previously entered and then save the changes with this field left empty.
                </p>
              </legend>

              <div class="nhsuk-u-margin-bottom-4"  id="case">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="one-third">
                  Enter ServiceNow Case ID
                </label>
                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                  For example, CS1234567
                </div>
                <input class="nhsuk-input nhsuk-u-width-one-third" id="one-third" name="one-third" type="text" value="CS1234567">
              </div>

              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Save and continue
              </button>


            </fieldset>

          </form>

        </div>

      </div>
    </div>

    <hr/>

    <h2 class="nhsuk-u-padding-top-4">Help us improve</h2>
    <p>Your feedback helps us make our service better. </p>
      <div class="nhsuk-action-link nhsuk-u-margin-top-1">
        <a class="nhsuk-action-link__link" href="#">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Let us know about your experience of Cohort Manager</span>
        </a>
      </div>
    <p>If you need technical support, please continue to use our <a href="/v7/contact">contact us</a> page rather than this form. </p>

    <script>
        // Function to get the formatted date
        function formatDate(date) {
            const options = { year: 'numeric', month: 'long', day: '2-digit' };
            return date.toLocaleDateString('en-GB', options);
        }

        // Get today's date
        const today = new Date();
        document.getElementById('today-date').textContent = formatDate(today);

        // Get yesterday's date
        const yesterday = new Date(today);
        yesterday.setDate(today.getDate() - 1);
        document.getElementById('yesterday-date').textContent = formatDate(yesterday);
    </script>


  </div>
  {% endblock %}
</div>
