{% extends 'layout.html' %} {% block pageTitle %}Participant information -
Cohort Manager{% endblock %} {% block beforeContent %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v7">Home</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v7/exceptions-summary-nbo">Not raised breast screening exceptions</a>
    </li>
  </ol>

    <a class="nhsuk-back-link" href="/v7">
      <span class="nhsuk-u-visually-hidden">Back to</span>
      Not raised breast screening exceptions
    </a>
</nav>

{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
    <h1 class="nhsuk-label-wrapper">
      <div class="nhsuk-label nhsuk-label--xl" aria-label="exception-information">
      Exception information
      </div>
    </h1>
    <div class="nhsuk-caption-xl" aria-label="local-referemce-1001" >
    Local reference (exception ID): 1001
    </div>
  </div>
</div>

<!---Error Summary--->

<div class="nhsuk-error-summary nhsuk-grid-column-two-thirds" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="nhsuk-error-summary__body">
    <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
      <li> <a href="#name">ServiceNow case ID must be 9 characters (2 letters and 7 numbers)</a>
      </li>
    </ul>
  </div>
</div>

<!---End of error summary--->

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


        <!--- Portal Instructions--->

        <div class="nhsuk-card nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading">Portal Instructions</h2>

            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Raise to </dt>
                <dd class="nhsuk-summary-list__value"> National Back Office (NBO)</dd>
              </div>

                <!---div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Exception Status </dt>
                  <dd class="nhsuk-summary-list__value"><strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong></dd>
                </div--->

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Portal form</dt>
                <dd class="nhsuk-summary-list__value">
                Request to amend incorrect patient PDS record data
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">Local reference (exception ID)</dt>
                <dd class="nhsuk-summary-list__value" aria-label="local-reference-1001">1001</dd>
              </div>

            </dl>
          </div>
        </div>

      <!---main table--->

        <div class="nhsuk-card nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card__content">

      <h2 class="nhsuk-card__heading">Participant details</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">NHS number</dt>
          <dd class="nhsuk-summary-list__value">723 333 6891</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Surname</dt>
          <dd class="nhsuk-summary-list__value">Lewis</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Forename</dt>
          <dd class="nhsuk-summary-list__value">Sandra</dd>
        </div>


        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Date of birth</dt>
          <dd class="nhsuk-summary-list__value">18/11/1993</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Gender</dt>
          <dd class="nhsuk-summary-list__value">Female</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Current address</dt>
          <dd class="nhsuk-summary-list__value">
            73 Roman Rd<br />Leeds<br />
            LS2 5ZN
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Registered practice code</dt>
          <dd class="nhsuk-summary-list__value">B86110</dd>
        </div>

      </dl>
</div>
</div>


    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Exception details</h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date exception created</dt>
            <dd class="nhsuk-summary-list__value date"></dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">More detail</dt>
            <dd class="nhsuk-summary-list__value">

                  <p>The following fields have missing or conflicting information: GP practice code, reason for removal</p>
                  <p>Either:</p>
                  <ul>
                    <li>enter a GP practice code, or </li>
                    <li>enter a reason for removal</li>
                  </ul>
                  <p>Information must only be entered for one of these fields.
                  Both fields cannot be empty</p>
                  <p>Cohort Manager rule (to be included for reporting): CMR13</p>

            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Exception status</dt>
            <dd class="nhsuk-summary-list__value"><strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong></dd>
          </div>

        </dl>
      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Exception status</h2>

        <div class="nhsuk-form-group">

          <form action="/v7/exceptions-summary-nbo-update-1001" method="post">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                <p class="nhsuk-u-font-weight-normal">
                Entering a ServiceNow case ID will change the status of the exception to “Raised”. <br/>You’ll be able to access it on the “Raised breast screening exceptions” page.
                </p>
                <p class="nhsuk-u-font-weight-normal">
                If you need to change the exception status back to “Not raised”, delete any case ID previously entered and then save the changes with this field left empty.
                </p>
              </legend>

                <!---error message--->

                <div class="nhsuk-form-group nhsuk-form-group--error nhsuk-u-margin-bottom-4">
                  <label class="nhsuk-label nhsuk-u-font-weight-bold" for="name">
                      Enter ServiceNow case ID
                  </label>
                  <div class="nhsuk-hint" id="example-with-hint-text-hint">
                    For example, CS1234567
                  </div>

                  <span class="nhsuk-error-message" id="name-error">
                    <span class="nhsuk-u-visually-hidden">Error:</span> ServiceNow case ID must be 9 characters (2 letters and 7 numbers)
                  </span>
                  <input class="nhsuk-input nhsuk-input--error nhsuk-input nhsuk-input--width-10" id="name" name="name" type="text" aria-describedby="name-error">
                </div>

                  <!---end of error message--->

              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Save and continue
              </button>


            </fieldset>

          </form>

        </div>

      </div>
    </div>


  </div>
  {% endblock %}
</div>
