{% extends 'layout.html' %} {% block pageTitle %}Participant information raised-1024
{% endblock %} {% block beforeContent %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v7">Home</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v7/exceptions-summary">Raised breast screening exceptions</a>
    </li>
  </ol>

    <a class="nhsuk-back-link" href="/v7">
      <span class="nhsuk-u-visually-hidden">Back to</span>
      Raised breast screening exceptions
    </a>
</nav>

{% endblock %} {% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
    <h1 class="nhsuk-label-wrapper">
      <div class="nhsuk-label nhsuk-label--xl" aria-label="exception-information">
      Exception information
      </div>
    </h1>
  </div>
</div>



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

      <!--- Portal Instructions--->

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">

        <h2 class="nhsuk-card__heading">Portal Instructions</h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Raised to </dt>
            <dd class="nhsuk-summary-list__value"> Cohort as a Service (CaaS)</dd>
            <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Raised on </dt>
            <dd class="nhsuk-summary-list__value"> <strong class="nhsuk-tag">Raised</strong> on <span id="today-date"></span>
            </dd>
            <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Portal form used</dt>
            <dd class="nhsuk-summary-list__value">
            Cohort Manager general service offering
            </dd>
            <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Local reference </br>(exception ID)</dt>
            <dd class="nhsuk-summary-list__value" aria-label="local-referemce-1001">1024</dd>
            <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">ServiceNow case ID</dt>
            <dd class="nhsuk-summary-list__value" aria-label="ServiceNow-case-ID-CS1234567">CS7654321</dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden">ServiceNow case ID</span>
              </a>
            </dd>
          </div>

        </dl>
      </div>
    </div>



<!--- main table--->

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">

        <h2 class="nhsuk-card__heading">Participant details</h2>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NHS number</dt>
            <dd class="nhsuk-summary-list__value">643 634 1243</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Surname</dt>
            <dd class="nhsuk-summary-list__value">Bruce</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Forename</dt>
            <dd class="nhsuk-summary-list__value">Andrea</dd>
          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date of birth</dt>
            <dd class="nhsuk-summary-list__value">24/02/1990</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Gender</dt>
            <dd class="nhsuk-summary-list__value">Female</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Current address</dt>
            <dd class="nhsuk-summary-list__value">
              73 Roman Rd<br />Leeds<br />
              LS2 5ZN
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Registered practice code</dt>
            <dd class="nhsuk-summary-list__value">B86110</dd>
          </div>

        </dl>

    </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Exception details</h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date exception created</dt>
            <dd class="nhsuk-summary-list__value"><p id="yesterday-date"></p></dd>

          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">More detail</dt>
            <dd class="nhsuk-summary-list__value">

                  <p>The following fields have missing or conflicting information: GP practice code, reason for removal</p>
                  <p>Either:</p>
                  <ul>
                    <li>enter a GP practice code, or </li>
                    <li>enter a reason for removal</li>
                  </ul>
                  <p>Information must only be entered for one of these fields.
                  Both fields cannot be empty.</p>
                  <p>Cohort Manager rule (to be included for reporting): CMR13</p>

            </dd>
          </div>

        </dl>
      </div>
    </div>

    <h2 class="nhsuk-u-padding-top-4">Help us improve</h2>
    <p>Your feedback helps us make our service better. </p>
      <div class="nhsuk-action-link nhsuk-u-margin-top-1">
        <a class="nhsuk-action-link__link" href="#">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Let us know about your experience of Cohort Manager</span>
        </a>
      </div>
    <p>If you need technical support, please continue to use our <a href="/v7/contact">contact us</a> page rather than this form. </p>

    <script>
        // Function to get the formatted date
        function formatDate(date) {
            const options = { year: 'numeric', month: 'long', day: '2-digit' };
            return date.toLocaleDateString('en-GB', options);
        }

        // Get today's date
        const today = new Date();
        document.getElementById('today-date').textContent = formatDate(today);

        // Get yesterday's date
        const yesterday = new Date(today);
        yesterday.setDate(today.getDate() - 1);
        document.getElementById('yesterday-date').textContent = formatDate(yesterday);
    </script>

    <!---<p><strong>Exception last updated:</strong> 18 December 2024</p>--->

  </div>
  {% endblock %}
</div>
