{% extends 'layout2.html' %} {% block pageTitle %}NO Result{% endblock %}


{% block beforeContent %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="/v7">Home</a>
    </li>
  </ol>

    <a class="nhsuk-back-link" href="/v7">
      <span class="nhsuk-u-visually-hidden">Back to</span>
      Home
    </a>
</nav>

  {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-4">
      <h1 class="nhsuk-label-wrapper">
        <label class="nhsuk-label nhsuk-label--xl" aria-label="Search result">
        No results
        </label>
      </h1>
    </div>
  </div>


<!--- No Result --->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
    <search class="nhsuk-header__search">

      <form class="nhsuk-header__search-form nhsuk-header__search-form--search-results" id="search" action="/search/" method="get" role="search">
        <label class="nhsuk-u-visually-hidden" for="search-field">Search by NHS number</label>
        <input class="nhsuk-search__input" id="search-results-field" name="q" type="search" placeholder="Search by NHS number" autocomplete="off">
          <button class="nhsuk-search__submit" type="submit">
            <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
            <span class="nhsuk-u-visually-hidden">Search</span>
          </button>
      </form>

    </search>
  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    
    <p>Try checking the NHS number: </p>
    <ul>
      <li>is 10 digits (like 999 123 4567)</li>
      <li>does not contain special characters</li>
      <li>does not contain letters</li>
    </ul>
  </div>
</div>


<!--- No result end --->


    {% endblock %}
