{% extends 'layout.html' %} {% block pageTitle %}Participant information -
Cohort Manager{% endblock %} {% block beforeContent %}


<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v7">Overview</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v7/exceptions-summary-nbo">Exceptions Summary</a></li>
  <!--- li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level three</a></li--->
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/v7/exceptions-summary-nbo">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Exceptions Summary
    </a>
  </p>
</nav>

{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Exception information
      <span class="nhsuk-caption-xl">Exception ID: 1001</span>
    </h1>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Participant details</h2>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NHS number</dt>
            <dd class="nhsuk-summary-list__value">723 333 6891</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Surname</dt>
            <dd class="nhsuk-summary-list__value">Lewis</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Forename</dt>
            <dd class="nhsuk-summary-list__value">Sandra</dd>
          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date of birth</dt>
            <dd class="nhsuk-summary-list__value">18/11/1993</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Gender</dt>
            <dd class="nhsuk-summary-list__value">Female</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Current address</dt>
            <dd class="nhsuk-summary-list__value">
              73 Roman Rd<br />Leeds<br />
              LS2 5ZN
            </dd>
          </div>

          <!---div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NHS number 2</dt>
            <dd class="nhsuk-summary-list__value">631 567 4444</dd>
          </div--->

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Contact details</dt>
            <dd class="nhsuk-summary-list__value">
              <p>07700 900362</p>
              <p>sandra.lewis@example.com</p>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Registered practice code</dt>
            <dd class="nhsuk-summary-list__value">B86110</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Registered practice address</dt>
            <dd class="nhsuk-summary-list__value">
              Anytown Medical Centre<br>
              Anywhere<br>
              Anytown<br>
              AT1 1AA
          </div>

        </dl>
      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Exception details</h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date exception created</dt>
            <dd class="nhsuk-summary-list__value date"></dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NBO form</dt>
            <dd class="nhsuk-summary-list__value">
              Request to amend incorrect patient PDS record data
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">More detail</dt>
            <dd class="nhsuk-summary-list__value">

                  <p>The following fields have missing or conflicting information: GP practice code, reason for removal</p>
                  <p>Either:</p>
                  <ul>
                    <li>enter a GP practice code, or </li>
                    <li>enter a reason for removal</li>
                  </ul>
                  <p>Information must only be entered for one of these fields.
                  Both fields cannot be empty</p>
                  <p>Cohort Manager rule (to be included for reporting): CMR13</p>

            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Exception status</dt>
            <dd class="nhsuk-summary-list__value"><strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong></dd>
          </div>

        </dl>
      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Exception status</h2>

        <div class="nhsuk-form-group">

          <form action="/v7/exceptions-summary-ref" method="post">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                <h1 class="nhsuk-fieldset__heading">
                  Update the status of this exception when it has been raised with National Back Office (NBO):
                </h1>
              </legend>

              <div class="nhsuk-hint" id="contact-hint">
                Please ensure this exception has not been processed by another user before making changes to its status.
              </div>

              <div class="nhsuk-radios nhsuk-u-margin-bottom-4">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="exception-status-2" name="exception-status" type="radio" value="no" checked>
                  <label class="nhsuk-label nhsuk-radios__label" for="exception-status-2" selected>
                    Not raised
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="exception-status-1" name="exception-status" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="exception-status-1">
                    Raised
                  </label>
                </div>

              </div>

              <div class="nhsuk-form-group nhsuk-u-margin-bottom-4"">
                <label class="nhsuk-label" for="one-third">
                  Enter SNoW ticket number
                </label>
                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                  For example, XXX XXX XXXX
                </div>
                <input class="nhsuk-input nhsuk-u-width-one-third" id="one-third" name="one-third" type="text">
              </div>

              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Save and continue
              </button>

            </fieldset>

          </form>

        </div>

      </div>
    </div>


    <!----- SNOW reference

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">SNoW reference</h2>

        <div class="nhsuk-form-group">
          <form action="/v7/exceptions-summary-nbo-update-1001" method="post">
            <label class="nhsuk-label" for="example-with-hint-text">
              Enter SNoW ticket reference
            </label>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              For example, XXX XXX XXXX
            </div>
            <input class="nhsuk-input nhsuk-u-width-one-third" id="one-third" name="one-third" type="text" aria-describedby="example-with-hint-text-hint">

          </form>
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Update
        </button>

      </div>
    </div>--->



  </div>
  {% endblock %}
</div>
