{% extends 'layout.html' %} {% block pageTitle %}not raised exceptions summary - Cohort
Manager{% endblock %} {% block beforeContent %}




  {% endblock %}

  {% block content %}

  <nav class="nhsuk-breadcrumb nhsuk-u-margin-bottom-4" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/ServiceMgmt">Home</a></li>
      <!---li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level two</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level three</a></li--->
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="/ServiceMgmt">
        <span class="nhsuk-u-visually-hidden">Back to</span>
        Home
      </a>
    </p>
  </nav>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-7">
    <h1 class="nhsuk-label-wrapper">
      <div class="nhsuk-label nhsuk-label--xl" aria-label="Not-raised-breast-screening-exceptions">
      Not raised breast screening exceptions
      </div>
    </h1>
  </div>
</div>


<div class="nhsuk-grid-column-full">

    <div class="nhsuk-form-group nhsuk-u-margin-bottom-0">
      <label class="nhsuk-label" for="select-1">
        <b>Sort by</b>
      </label>
      <select class="nhsuk-select" id="select-1" name="select-1">
        <option value="1" selected>Date exceptions created (oldest first)</option>
        <option value="2">Date exceptions created(newest first)</option>
      </select>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit" style="padding: 4px 16px; font-size: 16px">
        Apply
      </button>

      <div class="nhsuk-header__content" id="content-header">
        <div class="nhsuk-header__search nhsuk-u-margin-bottom-5" style="float: right; margin-top: -70px;">
          <div class="nhsuk-header__search-wrap" id="wrap-search">
            <form class="nhsuk-header__search-form" id="search" action=" " method="get" role="search">
              <label class="nhsuk-u-visually-hidden" for="search-field">Search the NHS website</label>
              <input class="nhsuk-search__input" id="search-field" name="search-field" type="search" placeholder="Search" autocomplete="on">
              <button class="nhsuk-search__submit" type="submit" style="background-color: #d8dde0;">
                <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                </svg>
                <span class="nhsuk-u-visually-hidden">Search</span>
              </button>
            </form>
          </div>
        </div>
      </div>

    </div>

</div>

<p class="nhsuk-body" style="float: right; font-size: 1.1875rem; margin-right: 20px;">
  <b>Showing 10 of 20 results</b>
</p>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-u-margin-bottom-2">
      <div class="nhsuk-card__content">
        <table role="table" class="nhsuk-table-responsive">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" scope="col">Local reference<br/>Exception ID</th>
              <th role="columnheader" scope="col">NHS number</th>
              <th role="columnheader" scope="col">Date exception <br/>created</th>
              <th role="columnheader" scope="col">Short description</th>
              <th role="columnheader" scope="col">Exception status</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"  aria-hidden="true">Local reference</span><a
                  href="/ServiceMgmt/not-raised-1001">1001</a>
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
                <span class="nhsuk-table-responsive__heading"  aria-hidden="true"">NHS number </span>723 333 6891
              </td>
              <td role="cell" class="nhsuk-table__cell date">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date exception created</span>
              </td>
              <td>
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Short description
                </span>
                The following fields have missing or conflicting information: GP practice code, reason for removal
              </td>
              <td class="nhsuk-table__cell">
                  <strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Exception ID </span><a
                  href="#">1002</a>
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number </span>623 444 8972
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap date">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date exception created</span>
              </td>
              <td>
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Short description </span>Missing forename
              </td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong>
              </td>
            </tr>
            <tr class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Exception ID </span><a
                  href="#ßßß">1020</a>
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number </span>543 555 9087
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap date">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date exception created</span>
              </td>
              <td>
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Short description </span>Postcode is in the wrong format
              </td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong>
              </td>
            </tr>

            <tr  class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Exception ID </span><a
                  href="#">1024</a>
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number </span>643 634 1243
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap date">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date exception created</span>
              </td>
              <td>
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Short description </span>Possible confused NHS Number
              </td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong>
              </td>
            </tr>

            <tr  class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Exception ID </span><a
                  href="#">1040</a>
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number </span>653 542 4353
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap date">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date exception created</span>
              </td>
              <td>
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Short description </span>The following fields have missing or conflicting information: GP practice code, reason for removal
              </td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Exception ID </span><a
                  href="#">1060</a>
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number </span>542 565 5493
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap date">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date exception created</span>
              </td>
              <td>
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Short description </span>Postcode is in the wrong format
              </td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Exception ID </span><a
                  href="#">1110</a>
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number </span>543 012 8065
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap date">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date exception created</span>
              </td>
              <td>
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Short description </span>Missing forename
              </td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Exception ID </span><a
                  href="#">1140</a>
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number </span>723 333 6897
              </td>
              <td role="cell" class="nhsuk-table__cell date">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date exception created</span>
              </td>
              <td>
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Short description
                </span>
                Address is blank
              </td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Exception ID </span><a
                  href="#">1160</a>
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number </span>623 444 8972
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap date">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date exception created</span>
              </td>
              <td>
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Short description </span>Postcode is in the wrong format
              </td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Exception ID </span><a
                  href="#">1163</a>
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number </span>999 999 0091
              </td>
              <td role="cell" class="nhsuk-table__cell app-u-no-wrap date">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date exception created</span>
              </td>
              <td>
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Short description </span>Possible confused NHS Number
              </td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--grey">Not raised</strong>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="pagination" style="float: right; width: 40%;">
                <span class="page-number active">1</span>
                <span class="page-number next-link">2</span>
                <a class="next-link" href="#"> Next → </a>
            </div>
        </div>

        <script>
            const dateElement = document.getElementById("date");
            const today = new Date();
            today.setMonth(today.getMonth() - 1);
            const options = { day: 'numeric', month: 'long', year: 'numeric' };
            dateElement.textContent = today.toLocaleDateString('en-GB', options);
        </script>

        <style>
            .pagination {
              display: flex;
              gap: 20px;
              align-items: center;
              font-family: sans-serif;
              margin-top:30px;
              margin-left: 10px;
            }
            .page-number {
              padding: 8px 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
            .page-number.active {
              background-color: #005eb8;
              color: white;
              pointer-events: none;
              cursor: default;
            }
            .next-link {
              display: flex;
              align-items: center;
              gap: 4px;
              text-decoration: none;
              color: #005eb8;
              font-weight: bold;
            }
            .next-link:hover {
              text-decoration: underline;
            }

            .floating-div {
            position: fixed;
            top: 750px;
            right: 20px;
            width: 150px;
            padding: 15px;
            background-color: #ffeb3b;
            color: black;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            z-index: 1000;

          </style>

    </div>


  </div>
</div>
{% endblock %}
