{% extends 'layout.html' %} {% block pageTitle %} Home - Cohort
Manager{% endblock %} {% block header %}

<!---{{ header({ "service": { "name":
"Cohort manager", "href": "/" }, "showNav": "false", "showSearch": "false" }) }}--->


<header class="nhsuk-header" role="banner">

  <div class="nhsuk-header__container">
    <div class="nhsuk-header__service">
      <a
        class="nhsuk-header__service-logo"
        href="/"
        aria-label="Cohort manager home page">
        <svg
          class="nhsuk-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 200 80"
          height="40"
          width="100">
          <path
            class="nhsuk-logo__path"
            fill="currentcolor"
            d="M200 0v80H0V0h200Zm-27.5 5.5c-14.5 0-29 5-29 22 0 10.2 7.7 13.5 14.7 16.3l.7.3c5.4 2 10.1 3.9 10.1 8.4 0 6.5-8.5 7.5-14 7.5s-12.5-1.5-16-3.5L135 70c5.5 2 13.5 3.5 20 3.5 15.5 0 32-4.5 32-22.5 0-19.5-25.5-16.5-25.5-25.5 0-5.5 5.5-6.5 12.5-6.5a35 35 0 0 1 14.5 3l4-13.5c-4.5-2-12-3-20-3Zm-131 2h-22l-14 65H22l9-45h.5l13.5 45h21.5l14-65H64l-9 45h-.5l-13-45Zm63 0h-18l-13 65h17l6-28H117l-5.5 28H129l13.5-65H125L119.5 32h-20l5-24.5Z"/>
        </svg>
        <span class="nhsuk-header__service-name">Cohort Manager</span>
      </a>
    </div>

    <div class="nhsuk-header__content" id="content-header">
      <div class="nhsuk-header__search">
        <div class="nhsuk-header__search-wrap" id="wrap-search">
          <form class="nhsuk-header__search-form" id="search" action=" " method="get" role="search">
            <label class="nhsuk-u-visually-hidden" for="search-field">Search the NHS website</label>
            <input class="nhsuk-search__input" id="search-field" name="search-field" type="search" placeholder="Search" autocomplete="off">
            <button class="nhsuk-search__submit" type="submit">
              <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
              <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-navigation-container" style="height: 60px;border-top: 1px solid hsla(0,0%,100%,.2);">

    <nav class="nhsuk-header__account" aria-label="Account" id="header-navigation" role="navigation" style="width: 400px;color: #fff;margin-left: 770px; margin-top:10px;">
      <ul class="nhsuk-header__account-list">
        <li class="nhsuk-header__account-item">
          <svg
            class="nhsuk-icon nhsuk-icon__user"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 16 16"
            aria-hidden="true"
            focusable="false"
          >
            <path
              fill="currentcolor"
              d="M8 0c4.4 0 8 3.6 8 8s-3.6 8-8 8-8-3.6-8-8 3.6-8 8-8Zm0 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1Zm-1.5 9h3a2.5 2.5 0 0 1 2.5 2.5V14a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-1.5A2.5 2.5 0 0 1 6.5 10ZM8 9C6.368 9 5 7.684 5 6s1.316-3 3-3c1.632 0 3 1.316 3 3S9.632 9 8 9"
            />
          </svg>
          Andrea Mike
        </li>
        <li class="nhsuk-header__account-item">andrea.m@nhs.net</li>
        <li class="nhsuk-header__account-item">
          <form class="nhsuk-header__account-form">
            <button class="nhsuk-header__account-button">Log out</button>
          </form>
        </li>
      </ul>
    </nav>

  </div>
</header>

{% endblock %}

{% block content %}

<nav class="nhsuk-breadcrumb nhsuk-u-margin-bottom-4" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/ServiceMgmt">Home</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/ServiceMgmt/raised-summary">Raised breast screening exceptions</a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="/v6A/exceptions-summary"">
        <span class="nhsuk-u-visually-hidden">Back to</span>
        Raised breast screening exceptions
      </a>
    </p>

  </div>
</nav>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
    <h1 class="nhsuk-label-wrapper">
      <div class="nhsuk-label nhsuk-label--xl" aria-label="exception-information">
      Exception information
      </div>
    </h1>
    <div class="nhsuk-caption-xl" aria-label="local-referemce-1001" >
    Local reference (exception ID): 1001
    </div>
  </div>
</div>

<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Portal form used
    </dt>
    <dd class="nhsuk-summary-list__value">
    Request to amend incorrect patient PDS record data
    </dd>
    <dd></dd>

  </div>

</dl>



<!--- main table--->

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">

      <!---  <h3 class="nhsuk-do-dont-list__label">Request to amend incorrect patient PDS record data</h3>--->
        <h2 class="nhsuk-card__heading">Participant details</h2>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NHS number</dt>
            <dd class="nhsuk-summary-list__value">723 333 6891</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Surname</dt>
            <dd class="nhsuk-summary-list__value">Lewis</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Forename</dt>
            <dd class="nhsuk-summary-list__value">Sandra</dd>
          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date of birth</dt>
            <dd class="nhsuk-summary-list__value">18/11/1993</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Gender</dt>
            <dd class="nhsuk-summary-list__value">Female</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Current address</dt>
            <dd class="nhsuk-summary-list__value">
              73 Roman Rd<br />Leeds<br />
              LS2 5ZN
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Registered practice code</dt>
            <dd class="nhsuk-summary-list__value">B86110</dd>
          </div>

        </dl>

    </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading">Exception details</h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date exception created</dt>
            <dd class="nhsuk-summary-list__value"><p id="yesterday-date"></p></dd>

          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">More detail</dt>
            <dd class="nhsuk-summary-list__value">

                  <p>The following fields have missing or conflicting information: GP practice code, reason for removal</p>
                  <p>Either:</p>
                  <ul>
                    <li>enter a GP practice code, or </li>
                    <li>enter a reason for removal</li>
                  </ul>
                  <p>Information must only be entered for one of these fields.
                  Both fields cannot be empty.</p>
                  <p>Cohort Manager rule (to be included for reporting): CMR13</p>

            </dd>
          </div>

        </dl>
      </div>
    </div>


    <script>
        // Function to get the formatted date
        function formatDate(date) {
            const options = { year: 'numeric', month: 'long', day: '2-digit' };
            return date.toLocaleDateString('en-GB', options);
        }

        // Get today's date
        const today = new Date();
        document.getElementById('today-date').textContent = formatDate(today);

        // Get yesterday's date
        const yesterday = new Date(today);
        yesterday.setDate(today.getDate() - 1);
        document.getElementById('yesterday-date').textContent = formatDate(yesterday);
    </script>

    <!---<p><strong>Exception last updated:</strong> 18 December 2024</p>--->

  </div>
  {% endblock %}
</div>
