{% extends 'layout.html' %} {% block pageTitle %}Error 500 - Server error {%
endblock %} {% block content %}

<main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>The exceptions could not be loaded </h1>
        <p>Please try again later.</p>
        <p><a href="#">Contact us</a>, if the problem persists or you need further assistance.</p>

      </div>
    </div>
  </main>


{% endblock %}
