{% extends 'layout.html' %} {% block pageTitle %}Overview - Cohort Manager {%
endblock %} {% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--xl" for="Breast-screening-exceptions">
      Breast screening exceptions
      </label>
    </h1>
    <div class="nhsuk-caption-xl" id="Breast-screening-exceptions-hint" aria-label="Breast-screening-exceptions-overview" >
    Home
    </div>

  </div>
</div>


<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">30<span class="nhsuk-u-visually-hidden">Total</span></p>
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/v6A/exceptions-summary">Total</a>
        </h2>
        <p class="nhsuk-card__description">A summary of all data exceptions, including those raised and not raised</p>

      </div>
    </div>
  </li>

  <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">20<span class="nhsuk-u-visually-hidden">Not Raised</span></p>
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/v6A/exceptions-summary-nbo">Not Raised</a>
        </h2>
        <p class="nhsuk-card__description">A list of exceptions that still need to be raised with National Back Office (NBO)</p>

      </div>
    </div>
  </li>
</ul>



{% endblock %}
