{% extends 'layout.html' %} {% block pageTitle %} Cohort Manager - Terms and conditions {%
endblock %} {% block beforeContent %}



{% endblock %} {% block content %}

<main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Terms and conditions: Cohort Manager’s exception visualisation </h1>
        <p>The content, data and services on cohort manager are delivered by NHS England.</p>

        <p>When you log in to cohort manager's exception visualisation user interface (UI), through the <a href="https://digital.nhs.uk/services/care-identity-service" target="_blank">Care Identity Service (CIS)</a>, you are accepting the CIS and NHS Spine
          <a href="https://digital.nhs.uk/services/care-identity-service/registration-authority-users/registration-authority-help/privacy-notice#terms-and-conditions" target="_blank">terms and conditions</a> and the
          <a href="/v6A/cookies">cookie policy</a>.</p>

        <p>Your access to participant and exception data will be used solely to support the use case of raising exceptions to National Back Office (NBO). Data viewed in the UI will not be further forwarded to users or systems outside of the cohort manager platform, and NBO.</p>

        <p>Data displayed in the UI is only retained for the duration of an active exception handling case. Once the exception is resolved, there is no need to retain it in cohort manager.</p>

        <p>You acknowledge that your access may also be audited to ensure you adhere to these conditions. </p>

      </div>
    </div>
  </main>


{% endblock %}
