{% extends 'layout.html' %} {% block pageTitle %}Exceptions summary - Cohort
Manager{% endblock %} {% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/v1">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
      height="24"
      width="24"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back</a
  >
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Exceptions summary</h1>

    <table role="table" class="nhsuk-table-responsive">
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" scope="col">Exception ID</th>
          <th role="columnheader" scope="col">NHS number</th>
          <th role="columnheader" scope="col">Date created</th>
          <th role="columnheader" scope="col">Short description</th>
          <th role="columnheader" scope="col">Screening service</th>
          <th role="columnheader" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v1/participant-information">10001767</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >723 333 6897
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >10 August 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Technical error - NHS number was not supplied in a valid format
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v1/participant-information">10001768</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >623 444 8972
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >26 September 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Technical error - Invalid Gender for this cohort
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v1/participant-information">10001769</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >543 555 9087
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >21 September 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Technical error - Invalid postcode
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v1/participant-information">10001771</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >643 634 1243
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >5 September 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Technical error - GP practice code (primary card provider) is
            mandatory for this update and was not supplied
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v1/participant-information">10001772</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >653 542 4353
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >4 September 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Technical error - Missing or invalid record type
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Exception ID </span
            ><a href="/v1/participant-information">10001773</a>
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >NHS number </span
            >542 565 5493
          </td>
          <td role="cell" class="nhsuk-table__cell app-u-no-wrap">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Date exceptions created </span
            >1 September 2024
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"
              >Short description </span
            >Technical error - Received NHS number is on the PI blocked list
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
