{% extends 'layout.html' %} {% block pageTitle %}Participant information -
Cohort Manager{% endblock %} {% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/v1/exceptions-summary">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
      height="24"
      width="24"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back</a
  >
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Participant information</h1>
    <div class="app-mini-profile-header nhsuk-u-margin-bottom-7">
      <dl>
        <dt>Participant:</dt>
        <dd>Sandra Lewis</dd>
      </dl>
      <dl>
        <dt>NHS number:</dt>
        <dd>723 333 6897</dd>
      </dl>
    </div>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-tabs" data-module="nhsuk-tabs">
      <h2 class="nhsuk-tabs__title">Contents</h2>

      <ul class="nhsuk-tabs__list">
        <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
          <a class="nhsuk-tabs__tab" href="#personal-details"
            >Personal details</a
          >
        </li>

        <li class="nhsuk-tabs__list-item">
          <a class="nhsuk-tabs__tab" href="#exception-details"
            >Exception details</a
          >
        </li>
      </ul>

      <div class="nhsuk-tabs__panel" id="personal-details">
        <h3>Personal details</h3>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Name</dt>
            <dd class="nhsuk-summary-list__value">Sandra Lewis</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date of birth</dt>
            <dd class="nhsuk-summary-list__value">15 March 1984</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NHS number</dt>
            <dd class="nhsuk-summary-list__value">723 333 6897</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Contact information</dt>
            <dd class="nhsuk-summary-list__value">
              73 Roman Rd<br />Leeds<br />
              LS2 5ZN
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Contact details</dt>
            <dd class="nhsuk-summary-list__value">
              <p>07700 900362</p>
              <p>sandra.lewis@example.com</p>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">GP practice</dt>
            <dd class="nhsuk-summary-list__value">
              GP medical centre<br />Nottingham Forest<br />Nottingham<br />
              N21 45T
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">GP practice code</dt>
            <dd class="nhsuk-summary-list__value">LLS1-23456789</dd>
          </div>
        </dl>
      </div>

      <div
        class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden"
        id="exception-details"
      >
        <h3>Exception details</h3>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date created</dt>
            <dd class="nhsuk-summary-list__value">10th August 2024</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Type</dt>
            <dd class="nhsuk-summary-list__value">Duplicate</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Service</dt>
            <dd class="nhsuk-summary-list__value">Breast screening</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date raised with NBO</dt>
            <dd class="nhsuk-summary-list__value">12th August 2024</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Status</dt>
            <dd class="nhsuk-summary-list__value">Active</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Short description</dt>
            <dd class="nhsuk-summary-list__value">
              Requesting help with Breast screening service. Not related to
              failure or outage. NHS number transfer not updating participant
              recall status.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
