{% extends 'layout.html' %} {% block pageTitle %}Participant information -
Cohort Manager{% endblock %} {% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/v3">Overview</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/v3/exceptions-summary-today"
          >Exceptions summary created today</a
        >
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="/v3">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Overview
      </a>
    </p>
  </div>
</nav>

{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Participant information</h1>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-u-margin-bottom-4">
      <div class="nhsuk-card__content">
        <h3>Personal details</h3>
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NHS number 1</dt>
            <dd class="nhsuk-summary-list__value">777 432 123</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Forename</dt>
            <dd class="nhsuk-summary-list__value">Sandra</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Surname</dt>
            <dd class="nhsuk-summary-list__value">Lewis</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date of birth</dt>
            <dd class="nhsuk-summary-list__value">15 March 1984</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Gender</dt>
            <dd class="nhsuk-summary-list__value">Female</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Last known address</dt>
            <dd class="nhsuk-summary-list__value">
              73 Roman Rd<br />Leeds<br />
              LS2 5ZN
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NHS number 2</dt>
            <dd class="nhsuk-summary-list__value">768 321 7962</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Contact details</dt>
            <dd class="nhsuk-summary-list__value">
              <p>07700 900362</p>
              <p>sandra.lewis@example.com</p>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Registered practice details</dt>
            <dd class="nhsuk-summary-list__value">
              <p>B86110</p>
            <p>Anytown Medical Centre<br>
              Anywhere<br>
              Anytown<br>
              AT1 1AA</p>
          </div>

        </dl>
      </div>
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-2">
      <div class="nhsuk-card__content">
        <h3>Exception details</h3>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date created on</dt>
            <dd class="nhsuk-summary-list__value">10 August 2024</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Short description</dt>
            <dd class="nhsuk-summary-list__value">
              Technical error - GP practice code and Reason for Removal fields contain incompatible values
            </dd>
          </div>

          <!---
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date raised with NBO</dt>
            <dd class="nhsuk-summary-list__value">15 August 2024</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Status</dt>
            <dd class="nhsuk-summary-list__value">
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--blue">Status</strong>
              </td>
            </dd>
          </div>--->
        </dl>
      </div>
    </div>
    </div>
  </div>
  {% endblock %}
</div>
