{% extends 'layout.html' %} {% block pageTitle %}Screening prototype -
Screening{% endblock %} {% block header %} {{ header({ "service": { "name":
"Screening", "href": "/" }, "showNav": "false", "showSearch": "false" }) }} {% endblock %}


{% block content %}

<main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Page not found</h1>
        <p>Return to <a href="/V7">homepage</a>.</p>
        <p><a href="contact-us">Contact us</a> if the problem persists or you need further assistance.</p>

      </div>
    </div>
  </main>


{% endblock %}
