{% extends 'layout.html' %} {% block pageTitle %}Screening prototype -
Screening{% endblock %} {% block header %} {{ header({ "service": { "name":
"Screening", "href": "/" }, "showNav": "false", "showSearch": "false" }) }} {% endblock %}

{% block content %}

<main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>You are not authorised to view this page </h1>
        <p><a href="contact-us">Contact us</a> to request access, providing:</p>
        <ul>
          <li>your name </li>
          <li>your user ID </li>
          <li>details of the page you are trying to access  </li>

        </ul>

      </div>
    </div>
  </main>

{% endblock %}
