{% extends 'layout.html' %} {% block pageTitle %}Screening prototype -
Screening{% endblock %} {% block header %} {{ header({ "service": { "name":
"Screening", "href": "/" }, "showNav": "false", "showSearch": "false" }) }} {%
endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %} {% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <!-- Change the page title here -->
    <h1>Screening prototypes</h1>

    <hr />

    <h2>Cohort Manager</h2>

    <ul>
      <li>
        <a href="/v2">Version 2 - UR round 1</a>
      </li>
      <li>
        <a href="/v3">Version 3 - UR round 2</a>
      </li>
      <li>
        <a href="/v4">Version 4 (conceptual) - Displaying raised with NBO status</a>
      </li>
    </ul>

    <hr />

    <h2>Auth</h2>

    <ul>
      <li>
        <a href="/sign-in">Log in with your Care Identity account </a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="/v4/#">Raise SNow ticket</a>
      </li>
    </ul>

    <!--

    <hr />

    <h2>Overview</h2>

    <ul>
      <li>
        <a href="/overview">Overview</a>
      </li>
    </ul>

    -->
  </div>
</div>
{% endblock %}
