{% extends 'layout.html' %} {% block pageTitle %}Screening prototype -
Screening{% endblock %} {% block header %} {{ header({ "service": { "name":
"Screening", "href": "/" }, "showNav": "false", "showSearch": "false" }) }} {%
endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %} {% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <!-- Change the page title here -->
    <h1>Screening prototype</h1>

    <hr />

    <h2>Cohort Manager</h2>

    <ul>
      <li>
        <a href="/v1">Version 1 - Figma</a>
      </li>
      <li>
        <a href="/v2">Version 2 - Proposed design changes</a>
      </li>
    </ul>

    <hr />

    <p>
      <a
        href="https://www.figma.com/proto/dy44EhcuXvCFjBWgCJPw6X/ExceptionVisualisation?node-id=462-1211&t=PB9AHqLRgwSxftto-1&starting-point-node-id=462%3A1211"
        >View prototype on Figma</a
      >
    </p>

    <h2>Log in</h2>

    <ul>
      <li>
        <a href="/sign-in">Log in with your Care Identity account </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
