{% extends 'layout.html' %} {% block pageTitle %}Screening prototype -
Screening{% endblock %} {% block header %} {{ header({ "service": { "name":
"Screening", "href": "/" }, "showNav": "false", "showSearch": "false" }) }} {%
endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %} {% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <!-- Change the page title here -->
    <h1>Screening prototypes</h1>

    <hr />

    <h2 class="nhsuk-u-margin-bottom-2">Cohort Manager</h2>
    <div class="nhsuk-hint" id="contact-hint">
    UI versions for testing
    </div>

    <ul>
      <li>
        <a href="/v2">Version 2 - UR round 1</a>
      </li>
      <li>
        <a href="/v3">Version 3 - UR round 2</a>
      </li>
      <li>
        <a href="/v4">Version 4 (conceptual) - Displaying raised with NBO status</a>
      </li>
      <li>
        <a href="/v5">Version 5 (conceptual) - NSD team (UR Round 1) </a>
      </li>
      <li>
        <a href="/v6">Version 6 - NSD team (UR round 2) </a>
      </li>
      </ul>
  <hr/>

  <h2 class="nhsuk-u-margin-bottom-2">For development</h2>
  <div class="nhsuk-hint" id="contact-hint">
  UI versions for development
  </div>
    <ul>
      <li>
        <a href="/v6A">Version 6A (complete flow) </a>
      </li>
      <li>
        <a href="#">Case ID - format error</a>
      </li>
      <li>
        <a href="#">Case ID - special character error</a>
      </li>
      <li>
        <a href="/v6A/participant-information-not-raised-1001-error">Case ID - space error</a>
      </li>
    </ul>
    <hr/>

    <h2>Technical Errors</h2>

    <ul>
      <li>
        <a href="/v6A/error-404">404 - page not found</a>
      </li>
      <li>
        <a href="/V6A/error-500">500 - server error</a>
      </li>
      <li>
        <a href="/V6A/error-not-authorised">Not authorised</a>
      </li>
    </ul>

<hr/>

        <h2>Auth</h2>

        <ul>
          <li>
            <a href="/sign-in">Log in with your Care Identity account </a>
          </li>
        </ul>

      <hr/>

      <hr/>

      <h2>SNoW reference</h2>
      <!---li>
        <a href="/v6/SNOW-reference">SNoW ticket reference</a>
      </li--->
      <ul>
      <li>
        <a href="/v6/SNow">Service now form</a>
      </li>
      </ul>

  </div>
</div>
{% endblock %}
